//
// VARIABLES
//

:root {
  --bg-color: #fff;
  --text-color: #333;
  --heading-color: #222;
  --link-color: #4183C4;
  --border-color: #eee;
  --gray: #666;
  --light-gray: #eee;

  // Code Highlight Colors (Light - Solarized-ish)
  --code-bg: #efefef;
  --code-border: #ddd;
  --code-text: #333;
  --code-comment: #586E75;
  --code-keyword: #859900;
  --code-string: #2AA198;
  --code-name: #268BD2;
  --code-operator: #859900;
  --code-literal: #2AA198;
  --code-error: #93A1A1;
  --code-other: #CB4B16;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --heading-color: #f0f0f0;
  --link-color: #64b5f6;
  --border-color: #333;
  --gray: #aaa;
  --light-gray: #1e1e1e;

  // Code Highlight Colors (Dark - Monokai-ish)
  --code-bg: #272822;
  --code-border: #444;
  --code-text: #F8F8F2;
  --code-comment: #75715E;
  --code-keyword: #F92672;
  --code-string: #E6DB74;
  --code-name: #66D9EF;
  --code-operator: #F92672;
  --code-literal: #AE81FF;
  --code-error: #F92672;
  --code-other: #A6E22E;
}

// Colors
$blue: var(--link-color);

// Grays
$black: #000;
$darkerGray: var(--heading-color);
$darkGray: var(--text-color);
$gray: var(--gray);
$lightGray: var(--light-gray);
$white: var(--bg-color);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}